* {
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.skip {
    background-color: #121212;
    padding: 8px;
    border: 2px solid #000000;
    text-decoration: none;
    position: absolute; /*positions relative to top and bottom of viewport*/
    top: 10px;
    /* left: -999px; /* push the button off screen */
}

.skip:focus { /* when the button is tabbed to */
    left: 10px; 
}

a:link {color: #c5e7f8;}

a:visited {color: #6a7c85;}

body {
    background-color: #000000;
    color: #ffffff;
}

.clearfloat {
    clear: both;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 100px;
    padding-bottom: 100px;
}

.photo {
    position: relative;
    text-align: center;
    max-width: 350px;
    border: 0px solid #ffffff;
    margin: 15px;
    padding: 50px 35px 15px 35px;
    background-color: #131313;
}

.photo h2 {
    font-size: 1em;
    padding-top: 15px;
    padding-bottom: 25px;
}

.photo img {
    height: 200px;
    width: 300px;
}

.credit {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.header_img {
    width: 100%;
    object-fit: cover;
    margin: 0;
}

#navbar {
    display: flex;
    overflow: hidden;
    background-color: #030303;
    z-index: 1000;
}
#navbar a {
    color: #ffffff;
    display: block;
    justify-content: space-around;
    text-align: center;
    flex-grow: 1;
    padding: 15px;
    margin: auto;
}

#navbar a:hover {
    background-color: #434343;
}

.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px
}

.popup{
    display: none;
    visibility: hidden;
    text-align: center;
    padding: 20px;
    border: 2px solid #434343;
    border-radius: 12px;
    color: #ffffff;
    margin: 50px 20px 50px 20px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 100%;
    
}
.buttons2 {
    text-align: center;
}
.container img{
    width: 100%;
    height: 100%
}
@media only screen and (max-width: 1200px)  {
    .container button{display:none;}
    }
@media only screen and (min-width: 1200px)  {
    .buttons2 button{display:none;}
}

.container button {
    background-color: #ffffff;
    opacity: 75%;
    border-radius: 4px;
}
.container .button1{
    position: absolute;
    top: 76%;
    left: 57%; 
    transform: translate(-50%, -50%);
}
.container .button2{
    position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.container .button3{
    position: absolute;
    top: 31%;
    left: 53%; 
    transform: translate(-50%, -50%);
}
.container .button4{
    position: absolute;
    top: 35%;
    left: 55%; 
    transform: translate(-50%, -50%);
}
.container .button5{
    position: absolute;
    top: 28%;
    left: 49%; 
    transform: translate(-50%, -50%);
}
.container .button6{
    position: absolute;
    top: 58%;
    left: 78%; 
    transform: translate(-50%, -50%);
}
.container .button7{
    position: absolute;
    top: 62%;
    left: 79%; 
    transform: translate(-50%, -50%);
}
.highlights {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}
.highlight_1, .highlight_2, .highlight_3 {
    flex:1;
    text-align: center;
    margin: 30px;
    padding: 50px;
    background-color: #191919;
    border-radius: 12px;
}

.highlight_1 img, .highlight_2 img, .highlight_3 img {
    max-width: 100%;
    height: auto;
}

.tablediv {
    overflow-x:auto;  
    margin: 20px auto 20px auto;
    width: 80%;
}

caption {
    background: #121212;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    text-size-adjust: 5em;
}

table {
    width: 100%;
    background: #323232;
    border-collapse: collapse;
}

td, td {
    padding: 1rem
}

th {
    background: #121212;
    padding-bottom: 10px;
}

tr:nth-of-type(2n) { 
    background: hsl(0 0% 0% / 0.2);
}

@media only screen and (max-width: 600px)  {
    td:first-child {
        padding-top: 2rem;
    }
    td:last-child {
        padding-bottom: 2rem;
    }
    th {
        display: none;
    }
    td {
        display: block;
        padding: 0.5rem 1rem;
    }
    td::before {
        content: attr(data-cell) ": ";
        font-weight: 700;
    }
}

